<html>
    <head>

    </head>
    <body>
        <%- include('../partials/navbar')  %>

        <h3>Add Item for Suppliers</h3>

        <table border=1 cellspacing=0 cellpadding=10>
            <td>
                <h4>Nama: <%= dataSupplier.name %></h4>
                <h4>City: <%= dataSupplier.kota %></h4>
                <h4>Address</h4>

                <h3>List Item</h3>
                <% if(dataSupplier.Items.length == 0) { %>
                    <h4>No Item yet</h4>
                <% } else { %>
                    <% for(let i=0; i<dataSupplier.Items.length; i++) { %>
                        <li><%= dataSupplier.Items[i].name %> @ $<%= dataSupplier.Items[i].SupplierItem.price %> </li>
                        <% } %>
                <% } %>
            </td>
        </table>

        <br>
                      

        <form method="POST">
            <h4>List Item</h4>
            <select name="item">
                <% for(let i=0; i<items.length; i++) { %>
                    <option value="<% dataSupplier.id %>" name="<% items[i].id %>"> <%= items[i].brand%> <%= items[i].name %> </option>
                <% } %>
            </select>

            <h4>Price</h4>
            <input type="text" name="price"><br>
            <input type="submit" name="Submit">
        </form>
        
        <%- include('../partials/footer')  %>
    </body>
</html>