<%include ../index%>
<container>
        <center>
          <%if (error !== null){%>
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> <%=error%>
            </div>
          <%}%>
          <form action="/items/<%=action==='add' ? 'add': 'edit'%>/<%=item.id%> " method="POST">
            <table>
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>&nbsp;:&nbsp;</td>
                  <td>
                    <input type="text" name="name" value="<%=item.name%>">
                  </td>
                </tr>
                <tr>
                  <td>Brands</td>
                  <td>&nbsp;:&nbsp;</td>
                  <td>
                    <input type="text" name="brand" value="<%=item.brand%>">
                  </td>
                </tr>
                <tr>
                    <td>Code Item</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <input type="text" name="codeItem" value="<%=item.codeItem%>">
                    </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>
                    <button class="btn btn-primary"><%=action==='add' ? 'Add Item': 'Edit Item' %></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </center>
      </container>
      
      