<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Items</title>
</head>
<body>
	<div class = "container">
  <h1>List Items</h1>
    <left><a href="/items/add"><button type="button" class="btn btn-success">add Items</button></a></left> <br />
    <center>
    <table class = "table">
			<thead>
				<tr class ="info">
					<th>No</th>
					<th>ID</th>
					<th>Name</th>
					<th>Brand</th>
					<th>List Supplier</th>
					<th>Code Item</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<%data.forEach((item,i) => {%>
				<tr>
					<td><%=i+1%></td>
					<td><%=item.id%></td>
					<td><%=item.name%></td>
					<td><%=item.brand%></td>
					<td><%=item.brand%></td>
					<td><%=item.codeitem%></td>
					<td><a href = "/items/edit/<%=item.id%>"><button type="button" class="btn btn-info">Edit</button></a>  <a href = "/items/delete/<%=item.id%>" onclick="return confirm('Delete item ?')"><button type="button" class="btn btn-danger">Delete</button></a> </td>
				</tr>
				<%})%>
			</tbody>
    </table>
</center>
</div>
</body>
</html>