<!DOCTYPE html>
<html lang="en">
<head>
		<%include ../partials/header%>
  <title>Items</title>
</head>
<body>
	<div class = "container">
  <h1>List Items</h1>
    <left><a href="/items/add"><button type="button" class="btn btn-success">add Items</button></a></left> <br />
    <center>
    <table class = "table">
			<thead>
				<tr class ="info">
					<th>No</th>
					<th>ID</th>
					<th>Name</th>
					<th>Brand</th>
					<th>Code Item</th>
					<th>List Supplier</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<%data.forEach((item,i) => {%>
				<tr>
					<td><%=i+1%></td>
					<td><%=item.id%></td>
					<td><%=item.name%></td>
					<td><%=item.brand%></td>
					<td><%=item.codeitem%></td>
					<%if(item.Suppliers.length !== 0){%>
						
							<td>
								<ol>
									<%item.Suppliers.forEach(list=>{%>
									<li><%=list.name%> - <%=convert.formatuang(list.SupplierItem.price)%></li>
									<%})%>
								</ol>
							</td>
						
					<%}else{%>
						<td>No Supplier yet</td>
					<%}%>
					
					
					<td><a href = "/items/edit/<%=item.id%>"><button type="button" class="btn btn-info">Edit</button></a>  <a href = "/items/delete/<%=item.id%>" onclick="return confirm('Delete item ?')"><button type="button" class="btn btn-danger">Delete</button></a> </td>
				</tr>
				<%})%>
			</tbody>
    </table>
</center>
</div>
</body>
</html>