<html>
  <head>
    <title>
      Mini Point of Sales
    </title>
  </head>
  <body>
    <nav>
      <button type="button" onclick="location.href='/'">Home</button>
      <button type="button" onclick="location.href='/items'">Items</button>
      <button type="button" onclick="location.href='/suppliers'">Suppliers</button>
      <button type="button" onclick="location.href='/search'">Search</button>
    </nav>
    <h2>List Items</h2>
    <button type="button" onclick="location.href='/items/add'">Add New Item</button>
    <table>
      <thead>
        <th>No</th>
        <th>ID</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Code Item</th>
        <th>List Supplier</th>
        <th>Action</th>
      </thead>
      <tbody>
        <%items.forEach((item,i)=>{%>
        <tr>
          <td><%= i+1%></td>
          <td><%= item.id%></td>
          <td><%= item.name%></td>
          <td><%= item.brand%></td>
          <td><%= item.codeitem%></td>
          <td>
            <%item.Suppliers.forEach((supplier) => {%>
              <ul>
                <li><%= supplier.name%> @ <%= helper.formatUang(supplier.SupplierItem.price)%></li>
              </ul>
            <%})%>
          </td>
          <td>
            <a href="/items/edit/<%= item.id %>"></span>edit</a>
            <a href="/items/delete/<%= item.id %>"onclick="return confirm('Are you sure you want to delete:\n<%= item.name %>\n')"></span>delete</a>
          </td>
        </tr>
        <%})%>
      </tbody>
    </table>
  </body>
</html>