<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Item list</title>
  </head>
  <body>

    <div class="container" align="center">
      <h2>Item List</h2>
        <a href="/item/add" class="btn btn-success">Add Item</a>
        <br><br>
          <table class="table">
            <thead>
              <tr>
                <th>No</th>
                <th>Id</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Item Code</th>
                <th>List Supplier</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <% let count = 1 %>
              <% items.forEach(item => { %>
                <tr>
                  <td><%= count++ %></td>
                  <td><%= item.id %></td>
                  <td><%= item.name %></td>
                  <td><%= item.brand %></td>
                  <td><%= item.codeitem %></td>
                    <td>
                        <% item.Suppliers.forEach(supplier => { %>
                          <li>
                        <%= supplier.name %> @ <%= format(supplier.Supplier_Item.price) %>
                          </li>
                      <% }) %>
                    </td>
                  <td>
                    <a href="/item/edit/<%= item.id %>" class="btn btn-primary">Edit</a>
                    <a href="/item/delete/<%= item.id %>" class="btn btn-danger" onclick="return confirm (`Are you sure to delete this data?`)">Delete</a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
        </table>
  </div>
  </body>
</html>
