<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Item Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h2>Edit Item</h2>
    <form action="/items/edit/<%= convertData.id %>" method="post">
        <input type="hidden" name="id_edit_item" value="<%= convertData.id %>">
        <input type="text" name="name" placeholder="Item Name" value="<%= convertData.name %>">
        <br>
        <br>
        <input type="text" name="brand" placeholder="Brand" value="<%= convertData.brand %>">
        <br>
        <br>
        <input type="text" name="codeitem" placeholder="Code Item" value="<%= convertData.codeitem %>">
        <br>
        <br>
        <button type="submit">Edit</button>
    </form>

</body>
</html>