<html>
  <head>
    <meta charset="utf-8"
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
    <center>
      <h1>List Item</h1>
      <a href="/items/add" class="btn btn-success">add Item</a>
    </center>

    <br>
    <br>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Code Item</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <%data_item.forEach((data, i) =>{%>
              <tr>
                <td><%=i+1%></td>
                <td><%=data.name%></td>
                <td><%=data.brand%></td>
                <td><%=data.codeitem%></td>
                <td>
                  <a href="/items/edit/<%=data.id%>" class="btn btn-info">Edit</a>
                  <a href="/items/delete/<%=data.id%>" class="btn btn-danger">Delete</a>

                </td>
              </tr>
              <%})%>
            </tbody>
    </div>
    </table>
  </body>
</html>
