<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ITEMS</title>
  </head>
  <h2>ITEMS</h2>

  <body>
    <a href="/items/add">ADD ITEM</a>
    <table border = '1'>
      <thead>
        <td>ID</td>
        <td>NAME</td>
        <td>BRAND</td>
        <td>ITEM CODE</td>
      </thead>
      <%dataItems.forEach(data=>{%>
        <tr>
          <td><%=data.id%></td>
          <td><%=data.name%></td>
          <td><%=data.brand%></td>
          <td><%=data.codeitem%></td>
          <td> <a href="/items/update/<%=data.id%>">UPDATE ITEM</a></td>
          <td> <a href="/items/delete/<%=data.id%>">DELETE ITEM</a> </td>
        </tr>
      <%})%>
    </table>
  </body>
</html>
