<!-- views/listSupplier.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body class="container">

<header>
    <% include ./header %>
</header>

<main>
    <div class="jumbotron">
        <h2>List Items</h2>
        <table border='1'>
            <tr>
              <td><b>No.</b></td>
              <td><b>Product Name</b></td>
              <td><b>Brand Product</b></td>
              <td><b>Code Item</b></td>
              <td colspan=2><center><b>Action</b></center></td>
            </tr>
                <% let no=1 %>
                <% items.forEach(dataItem => { %>
            <tr>
              <td><%= no++ %></td>
              <td><%= dataItem.name %></td>
              <td><%= dataItem.brand %></td>
              <td><%= dataItem.codeItem %></td>
              <td><a href="/items/edit/<%= dataItem.id %>">Edit</a></td>
              <td><a href="/items/delete/<%= dataItem.id %>" onclick="return confirm('delete this item ?');">Delete</a></td>
            </tr>
          <% }) %>
    </table>
    </div>
    <table>
        <tr>
            <td>
                <form action="/items/add">
                    <input type="submit" value="Add Item" id="bold" />
                </form>
            </td>
            <td>
                <form action="/home">
                    <input type="submit" value="Back" />
                </form>
            </td>
        </tr>
    </table>
    
    
   
</main>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>
