<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>

<body>
    <div class="col-md-8 offset-md-2">
        <h1 class="text-center">ADD ITEM TO SUPPLIER</h1>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <label>Name: </label>
                <%= dataSupplier.name %>
                    </br>
                    <label>City: </label>
                    <%= dataSupplier.city %>
            </div>
        </div>
        <h2>List Item</h2>
        <table class="table">
            <tbody>
                <% SupplierDataItem.map((data)=>{ %>
                    <tr>
                        <td>
                            <%=data.Item.brand %>
                                <%= data.Item.name %>
                        </td>
                        <td>
                            @
                            <%= currency(data.price) %>
                        </td>
                    </tr>
                    <%  })%>
            </tbody>
        </table>
        <form action="" method="post">
            <div class="form-group">
                <label for="list-item">List Item</label>
                <select class="form-control" name="itemId">
                    <% dataItem.map((data)=>{ %>
                        <option value="<%= data.id %>">
                            <%= data.name %>
                        </option>
                        <% })%>
                </select>
            </div>
            <div class="form-group">
                <label for="price">price</label>
                <input type="text" class="form-control" name="price">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>