<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Add Item </title>
    </head>
<body>
    <div class ="container">
    <h1>Add Items For Supplier</h1>
    <a href = "/">show all data</a>
    <form class= "" action="/suppliers/<%=dataSupplier.id%>/additem" method = "post">
      <input type ="text" value="<%=dataSupplier.name%>" readonly name="name"> </br>
      <input type ="text" value="<%=dataSupplier.city%>" readonly name="city"> </br>
      <label>List item:</label>
      <select name = "ItemId">
        <%dataItem.forEach(item =>{%>
        <option value = "<%=item.id%>"><%=item.id%>-<%=item.name%></option>
        <%})%>
    </select><br/>
    <label>Price:</label>
    <input type ="text" placeholder="ex:1000000"  name="price"> </br>
      <button> Add Item </button>      
  </form>
</div>
</body>
</html>
