<!DOCTYPE html>
<html>
	<head>
			<%include ../partials/header%>
		<title>Add Item </title>
	</head>
<body>
	<div class ="container">
			<form class= 'form-inline' action='/suppliers/<%=dataSupplier.id%>/additem' method = 'post'>
				<label> Name </label>
				<input type ='text' value= "<%=dataSupplier.name%>" class="form-control"  name='name' readonly><br/>
				<br/>
				<label> City </label>
				<input type ='text' value= "<%=dataSupplier.city%>" class="form-control"  name='city' readonly><br/>
				<br/>
				<label>List Item</label>
				<ol>
					<%dataSupplier.Items.forEach(list=>{%>
						<li><%=list.name + ' @ '+uang.formatuang(list.SupplierItem.price)%></li>
					<%})%>
				</ol>
				<label>Item List</label>
				<select name = "ItemId">
						<%dataItem.forEach(item =>{%>
							<option value = "<%=item.id%>"><%=item.id%>-<%=item.name%></option>								
						<%})%>
					</select>
				<label>Price</label>
				<input type ='text' placeholder='ex:1000' class="form-control"  name='price'> </br>
			</br>
				<button > Add Supplier </button>    
    </form>
	</div>
</body>
</html>