<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <title>Suppliers</title>
</head>
<body>
	<div class = "container">
  <h1>List Suppliers</h1>
    <center><a href="/suppliers/add"><button type="button" class="btn btn-success">add Suppliers</button></a></center> <br />
    <center>
    <table class = "table">
			<thead>
				<tr class = "danger">
					<th>No</th>
					<th>ID</th>
					<th>Name</th>
					<th>City</th>
					<th>List Item</th>
					<th>Add Item</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<%data.forEach((supplier,i) => {%>
				<tr>
					<td><%=i+1%></td>
					<td><%=supplier.id%></td>
					<td><%=supplier.name%></td>
					<td><%=supplier.city%></td>
					<%if(supplier.Items.length !== 0){%>
						<td>
								<ol>
									<%supplier.Items.forEach(item=>{%>
											<li><%=item.name%></li>						
									<%})%>
							</ol>
						</td>
						<%}else{%>
							<td>No Item yet</td>
				<%}%>
				<td><a href = "/suppliers/<%=supplier.id%>/additem"><button type="button" class="btn btn-primary">Assign Item</button></a></td>
					<td><a href = "/suppliers/edit/<%=supplier.id%>"><button type="button" class="btn btn-info">Edit</button></a>  <a href = "/suppliers/delete/<%=supplier.id%>" onclick="return confirm('Delete supplier ?')"><button type="button" class="btn btn-danger">Delete</button></a> </td>
				</tr>
				<%})%>
			</tbody>
    </table>
</center>
</div>
</body>
</html>