<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/supplier/add">Add</a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Kota</th>
                <th>List</th>
                <th>Add item</th>
                <th>Process</th>
            </tr>
        </thead>
        <tbody>
            <%data.forEach(element=>{%>
                <tr>
                    <td><%=element.id%></td>
                    <td><%=element.name%></td>
                    <td><%=element.kota%></td>
                    <td>
                        <%if(element.SupplierItems && element.SupplierItems.length > 0){%>
                            <%element.SupplierItems.forEach(each =>{%>
                                <span><%=each.Item.name%></span>            
                                <span>@ <%=helper(element.SupplierItems[0].price)%></span>                            
                            <%})%>
                        <%}else{%>
                            <span>No Item Yet</span>
                        <%}%>
                    </td>
                    <td>
                        <a href="/supplier/addItem/<%=element.id%>">addItem</a>
                    </td>
                    <td>
                        <a href="/supplier/delete/<%=element.id%>" onclick="return confirm('Yakin mau delete Supplier: \n Klik cancel untuk membatalkan')">Delete</a>
                        <a href="/supplier/edit/<%=element.id%>">Edit</a>
                    </td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>