<!doctype html>

<head>
  <meta charset="utf-8">
  <title>Mini Point of Sales</title>

  <link rel="stylesheet" href="/css/style.css">
</head>
 <body>
     <%- include('../partials/menu.ejs') %>
     <h1>List of Suppliers</h1>
     <h3><a href="/suppliers/add">Add Supplier<a></h3>
         <table>
             <tr>
                 <th>No</th>
                 <th>ID</th>
                 <th>Name</th>
                 <th>Kota</th>
                 <th>Last Item</th>
                 <th>Add Item</th>
                 <th>Action</th>
             </tr>
             <% for(let i = 0; i < suppliers.length; i++){%>
                 <tr>
                     <td><%=i+1%></td>
                     <td><%=suppliers[i].id%></td>
                     <td><%=suppliers[i].name%></td>
                     <td><%=suppliers[i].kota%></td>
                     <td>
                         <ul>
                             <% if(suppliers[i].Items.length ==0){ %>
                                 No Item Yet
                            <% } else { %>
                                 <% for(let j = 0; j < suppliers[i].Items.length; j++){%>
                                     <li><%=helper.printItem(suppliers[i].Items[j].name,suppliers[i].Items[j].SupplierItem.price)%></li>
                                 <% } %>
                            <% } %>
                         </ul>
                     </td>

                     <td><a href="/suppliers/<%=suppliers[i].id%>/additem">Assign Item</a> </td>
                     <td><a href="/suppliers/edit/<%=suppliers[i].id%>">Edit</a> <a href="/suppliers/delete/<%=suppliers[i].id%>">Delete</a></td>
                 </tr>
            <% } %>
        </table>

 </body>
