<html>
    <head>

    </head>
    <body>
        <%- include('../partials/navbar')  %>

        <h3>Add Item</h3>

        <form method="POST">
            Name: <br>
            <input type="text" name="name" value="<%= item.name%>"><br>
            Brand: <br>
            <input type="text" name="brand" value="<%= item.brand%>"><br>
            Code Item: <br>
            <input type="text" name="codeItem" value="<%= item.codeItem%>"><br>
            <br>
            <input type="submit" value="Submit">
        </form>
        
        <%- include('../partials/footer')  %>
    </body>
</html>