<html>

<head>
    <link rel="stylesheet" href="/style/css/bootstrap.min.css">
    <script src="/style/js/bootstrap.min.js"></script>
</head>

<body>
    <a href="/suppliers" class ="btn btn-primary" style="margin-left:35%;margin-top:2%">Supplier</a>
    <a href="/items" class ="btn btn-primary" style="margin-top:2%">Items</a>
    <h1 style="margin-left:35%;margin-top:2%">Supplier List</h1>
    <br>
    <br>
    <table class="table" style="width:30%;margin-left:35%">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Code Item</th>
            <th>List Supplier</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% items.forEach(function(item) { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.name %></td>
                <td><%= item.brand %></td>
                <td><%= item.codeitem %></td>
                <td>
                    <% if (item.Suppliers.length > 0) {
                            item.Suppliers.forEach(supplier => { %>
                                <li><%= supplier.name %></li>                     
                    <%      })
                       } else { %>
                                No suppliers yet            
                    <%   } %>
                </td>
                
                
                <td>
                    <a href = "items/edit/<%= item.id %>">Edit</a> || 
                    <a href = "items/delete/<%= item.id %>">Delete</a>
                </td>
            </tr>
            <%}) %>
        </tbody>
    </table>
    <br>
    <br>
    <a href="/items/add" class ="btn btn-primary" style="margin-left:35%">New Items</a>
</body>

</html>