<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% include ../partials/navigation_bar %>
    <title>List Items</title>
  </head>
  <body>
      <h1>List Items</h1>
      <h2><a href= "/items/add">Add Item</a></h2>
    <table>
        <tr>
          <th>ID</th>
          <th>Name</th> 
          <th>Brand</th>
          <th>Item Code</th>
        </tr>
        <% items.sort((a,b) => a.id -b.id ).forEach((v,i) => { %>
            <tr>
              <td><%= v.id %></td>
              <td><%= v.name %></td>
              <td><%= v.brand %></td>
              <td><%= v.codeitem %></td>
              <td>
                <a href= "/items/edit/<%= v.id %>">Edit</a>
                <a href= "/items/delete/<%= v.id %>">Delete</a>
              </td>
            </tr>
          <% }) %>
      </table>
  </body>
</html>