<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<% include ../../partials/header %>

	<div class="container">
		<% if(status == 1) { %>
		<div class="alert alert-success">
			<strong>Success!</strong> <%= message %>
		</div>
		<% } else if(status == 0) { %>
		<div class="alert alert-danger">
			<strong>Error!</strong> <%= message %>
		</div>
		<% } %>
		<h3>Add Item for Supplier</h3>

		<div style="background-color:lightgray;padding: 20px">
			<div><label style="width: 100px">Name</label><%= data.name %></div>
			<br>
			<div><label style="width: 100px">Kota</label><%= data.kota %></div>
			<br>
			<div><label style="font-size: 36px">List Item</label></div>
			<br>
			<% for(let i = 0; i < data.SupplierItems.length; i++) { %>
				<div><label style="width: 400px"><%= data.SupplierItems[i].Item.brandName() %></label>@ <%= data.SupplierItems[i].price %></div>
			<% } %>
		</div>
		<br>
		<form class="form-horizontal" action="" method="post">
			<div class="form-group">
				<label class="col-sm-2 control-label">Nama Item</label>
				<div class="styled-select slate">
					<select name="item">
	                	<option value="-1">-- Select Item --</option>
	                	<% for(let i = 0; i < dataItem.length; i++) { %>
	                	<option value="<%= dataItem[i].id %>"><%= dataItem[i].brandName() %></option>
	                	<% } %>
	            	</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Price</label>
	      		<div class="col-sm-5">
	        		<input class="form-control" id="price" name="price" type="text" placeholder="Input Price Item">
	      		</div>
			</div>
			<input type="submit" class="btn btn-primary" value="Add Item" style="margin-left: 200px" />
		</form>
	</div>
</body>
</html>